body{
    background-image: url(../images/bgimg.jpg);
}
/*for sign-in form*/
#sign-in
{
    background-color: skyblue;
    width: 400px;
    height: 280px;
    float: right;
    margin: -278px 65px;
}
.col-md-3
{
    width: 300px;
    margin-left: 50px;
    float: left;
    height: 254px;
}
.col-sm-10
{
    width: 330px
}
.form-horizontal .form-group
{
    margin: 20px -13px 0 -9px;
    float: left;
}

/* navigation bar section*/
.navbar
{
    margin-bottom: 0px;
  
}
.navbar-header
{
    margin-right: 0px;
    margin-left: 50px;
}
.navbar-nav
{
    margin-left: 30px;
}
/*table design section*/
.table
{
    width:90%;
    margin: 0 auto;
}
.row{
    width:700px;
}

h2
{
    margin-left: 60px;
    clear:both;
}

/*stripcontaining table and form*/
#frst_strip
{
    width:100%;
    height: 260px;

}
/*carousel design*/
.carousel-inner{
    width: 90%;
    margin: 20px auto;

}
/*success panel*/
.panel
{
    width:90%;
    margin: 20px auto;
}
.panel-body, .panel-footer{
    font-size:20px;
}
